*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
    --text-color-primario: #333;
    --color-primario: #BDEDE0;
    --color-secundario: #bdd821;
    --fuente-titulos: 'Lucida Sans', sans-serif;
    --altura-header: 320px;
 }
.Degradado{
    background: linear-gradient(135deg, var(--color-primario), var(--color-secundario));
}
.cuadrado-boton{
    height:50px;
    width: 50px;
    background-color: #000000
    }
.Bienvenida{
    position:absolute;
    left: 10%;
    bottom: 35px;
    font-family: var(--fuente-titulos);
    color: white;

}
.Buscador{
    position:absolute;
    bottom: -25px;
    left: 10%;
    height: 50px;
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;

}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
header{
    height: var(--altura-header);
    background-color: var(--color-primario);
    position:relative;
}
main{
    padding-top: 50px;
    min-height: calc(100vh - var(--altura-header));
    background-color: var(--color-secundario);
}